DATABASE_NAME=osp_app
# DATABASE_USERNAME=
# DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432
# bundle exec rake secret
SECRET_KEY_BASE=
ASSET_HOST=
# THROTTLING_MAX_REQUESTS - Integer - Number of requests per ip
THROTTLING_MAX_REQUESTS=100
# THROTTLING_PERIOD - Integer - Period for each IP in minutes
THROTTLING_PERIOD=1
# ENABLE_RACK_ATTACK - Binary (Default 1) - Enable or Disable Rack Attack
# ENABLE_RACK_ATTACK=0
ENABLE_RACK_ATTACK=1